/* Container utama */
.home-container .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #1e1e1e; /* Warna latar belakang gelap */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 1200px;
  color: #fff; /* Warna teks putih */
  max-width: 1200px; /* Batasan lebar */
  margin: 0 auto; /* Pusatkan kontainer */
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.username {
  font-weight: bold;
  font-size: 24px;
  color: #fff;

}

/* .task-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.task-button,
.submit-button,
.check-task-button {
  background-color: #6b4f4f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
} */

/* .logout-button {
  background-color: #b5651d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; /* Tambahkan border-radius untuk sudut yang lebih halus */
/* } */ */

/* Bagian kiri */
.home-container .left-panel {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #333; /* Warna border lebih gelap */
}

.home-container .left-panel h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #a58b6f;
}

.home-container .left-panel p {
  font-size: 16px;
  margin-bottom: 20px;
}

.home-container .left-panel select {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333; /* Warna border lebih gelap */
  border-radius: 5px;
  background-color: #2e2e2e; /* Warna latar belakang input */
  color: #fff; /* Warna teks input */
}

.home-container .left-panel input {
  width: 74%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333; /* Warna border lebih gelap */
  border-radius: 5px;
  background-color: #2e2e2e; /* Warna latar belakang input */
  color: #fff; /* Warna teks input */
}


.home-container .left-panel button {
  width: 100%;
  padding: 10px;
  background-color: #ffb300; /* Warna tombol */
  color: #1e1e1e; /* Warna teks tombol */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Bagian kanan */
.home-container .right-panel {
  width: 65%;
  padding: 20px;
}

.home-container .right-panel h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.home-container .calendar {
  display: flex;
  flex-direction: column;
}

.home-container .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.arrow {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}

.arrow:hover {
  border: solid 2px white;
  border-radius: 50%;
}

.arrow:after {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 20px;
  height: 15px;
  top: -1px;
  border-bottom: solid 2px;
  transform: translatex(4px);
}

.arrow:before {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 8px;
  height: 8px;
  border-top: solid 2px;
  border-left: solid 2px;
  top: 50%;
  left: 2px;
  transform-origin: 0% 0%;
  transform: rotatez(-45deg);
}

.arrow:hover:before {
  animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after {
  animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

@keyframes aniArrow01 {
  0% {
    transform: rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}

@keyframes aniArrow02 {
  0% {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(-44px);
  }
}

.home-container .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.home-container .calendar-grid .day-header {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #333; /* Warna latar belakang header hari */
  color: #fff; /* Warna teks header hari */
}

/* Tambahkan animasi highlight */
@keyframes highlight {
  0% {
    background-color: #ffb300; /* Warna awal highlight */
    transform: scale(1);
  }
  50% {
    background-color: #ffcc00; /* Warna tengah highlight */
    transform: scale(1.1);
  }
  100% {
    background-color: #ffb300; /* Warna akhir highlight */
    transform: scale(1);
  }
}

.home-container .calendar-grid .day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2e2e2e; /* Warna latar belakang grid */
  color: #fff; /* Warna teks grid */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-container .calendar-grid .day.clicked {
  animation: highlight 0.5s ease;
}

.home-container .calendar-grid .today {
  background-color: #ffb300; /* Warna latar belakang hari ini */
  color: #1e1e1e; /* Warna teks hari ini */
}

.home-container .calendar-grid .selected {
  background-color: #333; /* Warna latar belakang terpilih */
}

.home-container .left-panel .button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px; /* Jarak antara tombol */
}

.home-container .left-panel .button-group button {
  flex: 1; /* Membuat tombol memiliki lebar yang sama */
}


.reviewbutton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.875em;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.reviewbutton:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffb300;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.reviewbutton:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.reviewbutton span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: #fff;
  padding: 10px 15px; 
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.reviewbutton:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

.addbutton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.875em;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.addbutton:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffb300;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.addbutton:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.addbutton span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: #fff;
  padding: 10px 15px; 
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.addbutton:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

.taskbutton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.875em;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  margin-top: 16px;
}

.taskbutton:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffb300;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.taskbutton:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.taskbutton span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: #fff;
  padding: 10px 15px; 
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.taskbutton:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.logout-button {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center; /* Ubah justify-content menjadi center */
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10px; /* Sesuaikan border-radius */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--af-white);
  color: var(--night-rider); /* Tambahkan warna teks */
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--night-rider);
}

/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--night-rider);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

/* hover effect on button width */
.logout-button:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.logout-button:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

/* hover effect button's text */
.logout-button:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

/* button click effect */
.logout-button:active {
  transform: translate(2px ,2px);
}

.notes-box {
  background-color: #333; /* Warna latar belakang */
  padding: 16px; /* Padding */
  border-radius: 8px; /* Sudut melengkung */
  margin-top: 5px;
  margin-bottom: 16px;
}

.notes-list {
  max-height: 180px; /* Tinggi maksimum */
  overflow-y: auto; /* Scroll vertikal jika konten melebihi tinggi maksimum */
}

.notes-list p {
  background-color: #333; /* Warna latar belakang untuk setiap catatan */
  padding: 8px; /* Padding */
  border: 1px solid #ddd; /* Warna border */
  border-radius: 4px; /* Sudut melengkung */
  margin-bottom: 8px; /* Jarak bawah */
}

/* Gaya untuk carousel */
.event-carousel {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.event-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #2e2e2e; /* Warna latar belakang slide */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.event-slide h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffb300; /* Warna teks judul */
}

.event-slide p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #fff; /* Warna teks deskripsi */
}

.slick-prev, .slick-next {
  z-index: 1;
  color: #fff;
  top: -10px;
  visibility: hidden;
}

.slick-dots {
  bottom: 8px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.left-panel {
  width: 30%;
  padding: 20px;
  width: 35%;
  padding: 10px;
  border-right: 1px solid #333; /* Warna border lebih gelap */
}

.left-panel .event-carousel {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}
