.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #f9f9f9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin: 0 0 10px;
    color: #f9f9f9;
  }
  
  p {
    margin: 5px 0;
    color: #f9f9f9;
  }
  
  p span {
    font-weight: bold;
    color: #f9f9f9;
  }